.wrapper {
    display: flex;
    gap: 2.5rem;
    flex-wrap: wrap;
    justify-content: space-around;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 1rem;
}

.toggleText {
    cursor: pointer;
    color: var(--color-primary);
}

.cardsWrppaer {
    margin-top: 1.125rem;
}