.sectionWrapper {
    padding: 0rem 1.875rem 3.7rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.songsWrapper {
    border: 1px solid var(--color-primary);
    border-left: 0rem;
    padding-bottom: 2rem;
}