.button {
    background-color: var( --color-black);
    color: var(--color-primary);
    border-radius: 0.7rem;
    padding: 0.625rem 1rem;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
}