.navbar {
    background-color: var( --color-primary);
    height: 4.625rem;
    width: 100%;
    padding: 0rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-content: center;
}